@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header p,
header a,
header li,
span {
  color: #fff;
  text-decoration: none;
}

header {
  background-color: black;
}

ol,
ul {
  list-style: none;
  display: flex;
}
ol li,
ul li {
  margin-right: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.optima {
  height: 40px;
}

.govno {
  display: none;
}

.menu-btn {
  display: none;
}

.dropdown-menu-listElement {
  display: block;
}

.optima {
  position: static;
}

@media (max-width: 1199px) {
  .phoneNumber {
    display: none;
  }
  .dropdown-menu-listElement {
    display: none;
  }
  header {
    display: flex;
    justify-content: flex-end;
  }
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: block;
  }
  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  /* Меню, которое будет появляться */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(42, 42, 42, 0.7058823529);
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu li {
    list-style-type: none;
  }
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .govno {
    display: block;
  }
  .optima {
    position: absolute;
    left: 0;
  }
}
header {
  align-items: center;
  padding-top: 10px;
}

.orange {
  color: orange;
}

.hero {
  background-color: black;
  background-image: url("../images/header/background/cars-bakckground-computer.png");
  height: 700px;
  background-size: 100%;
  text-align: center;
  padding-top: 5%;
}

h1 {
  color: azure;
}

@media (max-width: 1199px) {
  .hero {
    background-image: url("../images/hero/bg/carstablet.png");
    height: 700px;
    background-size: 100%;
    text-align: center;
    padding-top: 30%;
  }
}
@media (max-width: 400px) {
  .hero {
    background-image: url("../images/hero/bg/carstablet.png");
    height: 500px;
    background-size: 100%;
    text-align: center;
    padding-top: 15%;
  }
}
.NashePredlozenie {
  text-align: center;
}
.NashePredlozenie img {
  margin-right: 70px;
}

.NashePredlozenieContainer {
  background-image: url("../images/NashePredlozenieImages/bg/Group 130.png");
  padding-top: 200px;
}
@media (max-width: 1199px) {
  .NashePredlozenieContainer {
    background-image: url("../../images/NashePredlozenieImages/bg/ipadAir.png");
    background-repeat: no-repeat;
    background-position: 100%;
  }
}

.NashePredlozenieHeading {
  font-size: 80px;
}

@media (max-width: 500px) {
  .NashePredlozenieHeading {
    font-size: 50px;
  }
}
@media (max-width: 300px) {
  .NashePredlozenieHeading {
    font-size: 30px;
  }
}
.aboutUs p,
.aboutUs span {
  color: rgb(0, 0, 0);
  font-size: x-large;
}

.aboutUsContainer {
  background-color: #fff;
  border-radius: 15px;
  width: 50%;
}

.aboutUs {
  background: url("../images/aboutUs/bg/mac.png");
  height: 600px;
  background-repeat: no-repeat;
  padding-top: 4rem;
}

.ProListItem {
  display: flex;
}

.ProListItem img {
  width: 100px;
  height: 100px;
}

.none {
  display: none;
}

@media (max-width: 700px) {
  .aboutUs p,
  .aboutUs span {
    color: rgb(0, 0, 0);
    font-size: large;
  }
  .none {
    display: block;
  }
  .aboutUs2 {
    display: none;
  }
  .aboutUs {
    background-color: #fff;
  }
  .aboutUsContainer {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    font-size: 1rem;
  }
  .none {
    width: 100%;
  }
  .aboutUsContainer p {
    font-size: 20px;
    background-color: #fff;
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.whyUs {
  margin-top: 105px;
  text-align: center;
}

.whyUs h2 {
  font-size: 50px;
}

.WhyUsListItem {
  text-align: left;
}

.whyUsList {
  background: #ffaa43;
  background: linear-gradient(0deg, #ffaa43 43%, #ffaa43 55%, rgb(255, 255, 255) 56%, rgb(255, 255, 255) 77%);
}

@media (max-width: 1199px) {
  .WhyUsListItem img {
    width: 50%;
  }
  .WhyUsListItem h2 {
    font-size: 10px;
  }
  .WhyUsListItem {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .whyUsList {
    background: #fff;
  }
  .whyUsList {
    flex-direction: column;
  }
  .WhyUsListItem {
    background: #ffaa43;
    background: linear-gradient(0deg, #ffaa43 43%, #ffaa43 65%, rgb(255, 255, 255) 66%, rgb(255, 255, 255) 77%);
  }
}
.reg {
  background-image: url("../images/reg/bg/bgPay.png");
  padding: 10% 28%;
}

.regCard {
  background: #fff;
  border-radius: 15px;
  padding: 40px;
  width: 700px;
}

@media (max-width: 1199px) {
  .reg {
    background-image: url("../images/reg/bg/bgPay.png");
    padding: 10% 18%;
  }
  .regCard {
    background: #fff;
    border-radius: 15px;
    padding: 40px;
    width: 500px;
  }
}
@media (max-width: 700px) {
  .regCard {
    background: #fff;
    border-radius: 15px;
    padding: 40px;
    width: 500px;
  }
}
@media (max-width: 500px) {
  .regCard {
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
  }
  .reg {
    background-image: url("../images/reg/bg/bgPay.png");
    padding: 10% 10%;
  }
}
.feedbackListItem {
  width: 29%;
}

@media (max-width: 1199px) {
  .feedbackListItem {
    width: 25%;
  }
  .feedback {
    display: none;
  }
}
.qContainer {
  width: 50%;
}

.open {
  margin-left: 100px;
}

span {
  display: inline;
  color: black;
}

h6 {
  display: inline;
}

h5 {
  margin-top: 40px;
}

.questions {
  background-image: url("../images/question/bg/bg.png");
  background-size: 100%;
}

@media (max-width: 1000px) {
  .questions {
    background: white;
    background-size: 100%;
  }
  .open {
    margin-left: 20px;
  }
}
.line {
  background-color: #FFAA43;
  margin-top: 50px;
  text-align: center;
}

.line p, .line h3 {
  color: white;
}

.lineList {
  justify-content: space-between;
}

@media (max-width: 550px) {
  .del {
    display: none;
  }
}
.geo {
  background: url("../images/geo/bg/bg.png");
  background-position: 100%;
  background-repeat: no-repeat;
  padding-left: 100px;
}

@media (max-width: 800px) {
  .geop {
    font-size: 10px;
  }
  .geo {
    padding-left: 10px;
  }
  .geoh {
    font-size: 15px;
  }
  .geo {
    padding: 0;
  }
}
@media (max-width: 360px) {
  .geo {
    background: url("../images/geo/bg/bg.png");
    background-position: 100%;
    background-size: 85%;
    background-repeat: no-repeat;
    padding-left: 0px;
  }
}
.optima2 {
  width: 200px;
}

.footer-list-element-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

footer {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.optima3 {
  display: none;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}