header p,
header a,
header li,
span {
  color: $baseTextColor;
  text-decoration: none;
}
header {
  background-color: black;
}
ol,
ul {
  list-style: none;
  display: flex;
  li {
    margin-right: 50px;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.optima {
  height: 40px;
}
.govno {
  display: none;
}
.menu-btn {
  display: none;
}
.dropdown-menu-listElement {
  display: block;
}
.optima {
  position: static;
}
// .phoneNumber
@media (max-width: 1199px) /*and (min-width: 700px) */ {
  .phoneNumber {
    display: none;
  }
  .dropdown-menu-listElement {
    display: none;
  }
  header {
    display: flex;
    justify-content: flex-end;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: block;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  /* Меню, которое будет появляться */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #2a2a2ab4;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu li {
    list-style-type: none;
  }
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .govno {
    display: block;
  }
  .optima {
    position: absolute;
    left: 0;
  }
}
