.line{
    background-color: #FFAA43;
    margin-top: 50px;
    text-align: center;
    // display: flex;

}
.line p,.line h3{
    color: white;
}
.lineList{
    justify-content: space-between;
}
@media (max-width: 550px) {
    .del{
        display: none;
    }
}