.qContainer {
  width: 50%;
}
.open {
  margin-left: 100px;
}
span {
  display: inline;
  color: black;
}
h6 {
  display: inline;
}
h5 {
  margin-top: 40px;
}
.questions {
  background-image: url("../images/question/bg/bg.png");
  background-size: 100%;
}
@media (max-width: 1000px) {
  .questions {
    background: white;
    background-size: 100%;
  width: 100%;
  }
  .qContainer {
    width: 100%;
    margin: 0;

  }
  .open {
    margin-left: 20px;
  }
}

  // width: 100%;