.reg{
    background-image: url("../images/reg/bg/bgPay.png");
    padding: 10% 28%;
}
.regCard{
    background: #fff;
    border-radius: 15px;
    padding: 40px;
    width: 700px;
}

@media (max-width: 1199px) {
    .reg {
            background-image: url("../images/reg/bg/bgPay.png");
            padding: 10% 18%;
        }
                .regCard {
                    background: #fff;
                    border-radius: 15px;
                    padding: 40px;
                    width: 500px;
                }
}
@media (max-width: 700px) {
    .regCard {
            background: #fff;
            border-radius: 15px;
            padding: 40px;
            width: 500px;
        }
}
@media (max-width: 500px) {
    .regCard {
        // position: ;
        background: #fff;
        border-radius: 15px;
        // margin:10%;
        // width: 300px;
        width: 100%;
            // margin: 5% 5% 5% 10%;
        
    }
        .reg {
            // position: absolute;
            background-image: url("../images/reg/bg/bgPay.png");
            padding: 7% 7% 7% 7%;
        }
}